.container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.Top-container {
  width: 100%;
  height: 594px;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 0.00%,rgb(240, 203, 53) 100.00%);
}
.Navbar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.Right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.Links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.navlink {
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.navlink01 {
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.navlink02 {
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.navlink03 {
  margin-right: var(--dl-space-space-doubleunit);
  text-decoration: none;
}
.navlink04 {
  text-decoration: none;
}
.text {
  color: transparent;
}
.link {
  display: contents;
}
.Burger-menu {
  width: 24px;
  height: 24px;
  display: none;
}
.Hero {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.Content-container {
  width: 474px;
  height: 256px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  background-image: url("/playground_assets/screenshot_202kkjk11011_205334-1000h.png");
  background-position: center;
}
.container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.text02 {
  padding-top: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.Main {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-quadruple);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-quadruple);
  justify-content: flex-start;
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 0.00%,rgb(240, 203, 53) 100.00%);
}
.Cards-container {
  width: 1060px;
  height: 386px;
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.navlink05 {
  font-size: 29px;
  text-decoration: none;
}
.navlink06 {
  font-size: 27px;
  text-decoration: none;
}
.navlink07 {
  font-size: 29px;
  text-decoration: none;
}
.navlink08 {
  font-size: 29px;
  text-decoration: none;
}
.navlink09 {
  font-size: 27px;
  text-decoration: none;
}
.text08 {
  color: transparent;
}
.text10 {
  color: transparent;
}
.text12 {
  color: transparent;
}
.Footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  height: 297px;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #000000;
}
.Menu {
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.Logo1 {
  width: 212px;
  height: 303px;
  background-size: cover;
  background-image: url("/playground_assets/screenshot_202kkjk11011_205334-1000h.png");
}
.Links-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.container5 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.text13 {
  color: #000000;
  margin-bottom: var(--dl-space-space-unit);
}
.text14 {
  color: #000000;
  margin-bottom: var(--dl-space-space-unit);
}
.text15 {
  color: #000000;
  margin-bottom: var(--dl-space-space-unit);
}
.Link1 {
  color: #000000;
}
.container6 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.text16 {
  margin-bottom: var(--dl-space-space-unit);
}
.text17 {
  color: #000000;
}
.text18 {
  color: #020101;
  margin-bottom: var(--dl-space-space-unit);
}
.text19 {
  margin-bottom: var(--dl-space-space-unit);
}
.text20 {
  color: #000000;
}
.text22 {
  color: #000000;
}
.Follow-container {
  width: 162px;
  display: flex;
  align-items: center;
  margin-left: 50px;
  flex-direction: column;
  justify-content: space-between;
}
.text23 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.Icons-container {
  width: 174px;
  height: 74px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.link2 {
  display: contents;
}
.icon3 {
  fill: #fffafa;
  width: 98px;
  height: 37px;
}
.link3 {
  font-size: 20px;
}
@media(max-width: 991px) {
  .Hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .Cards-container {
    justify-content: center;
  }
  .Logo1 {
    width: 305px;
  }
}
@media(max-width: 767px) {
  .Right-side {
    display: none;
  }
  .Burger-menu {
    display: flex;
  }
  .Hero {
    justify-content: center;
  }
  .Content-container {
    align-items: center;
  }
  .text01 {
    font-size: 2.5rem;
  }
  .text02 {
    text-align: center;
  }
  .Main {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .Menu {
    flex-direction: column;
  }
  .Links-container1 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .container5 {
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .text01 {
    font-size: 2rem;
    text-align: center;
  }
  .Subheading {
    font-size: 1.3rem;
    text-align: center;
  }
  .Subheading1 {
    font-size: 1.3rem;
    text-align: center;
  }
  .Links-container1 {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .text13 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .text14 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .text15 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .Link1 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .container6 {
    height: 100%;
    align-items: flex-start;
    margin-left: 50px;
  }
  .text16 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .text18 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .text19 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .text21 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .Follow-container {
    margin-left: 0px;
  }
}
